.priceStrike {
    margin: 10px 0 5px 0;
    color: lightgray;
    text-align: left;
    text-decoration: line-through;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
}

.price :first-child {
    margin-right: 10px;
}

.discountRate {
    margin: 5px 0 0 0;
    color: orangered;
    font-weight: 700;
}

.sellPrice {
    margin: 5px 0 0 0;
    font-weight: 700;
}
